.iso
{
    color:blue;

}
#h2
{
 color:gray;

}
#div1_otsikko
{
    background-color: gray; 
    width: 9.5%;
   float: left; 
    
}
.lippu{
    width: 30px;
    height: 30px;
}
#div2_otsikko
{
    background-color:green;
    width: 50%;
    height: 150%;
    float: left;

}
