body{
    background-image:url("irak.jpg"); background-size: 95%;
}
h1 {
    color:blue;
    font-family:'Courier New', Courier, monospace;
    font-size:300%;
}
h2{
    color: red;
    font-size: 300%;
}
p{
    font-size: 150%;
    border: 0px solid powderblue;
    text-align: center;
    color: greenyellow;
}
